<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Data Display</title>
    <script src="/static/scripts/rendering.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <h1>MyAnimeList API Fetch</h1>
    <div id="caption">
        Here is some recent activity from {{ username }}:
    </div>
    <div id="data-summary">
        {% for index in data_slice['title'] %}
        <div>
            <h3>{{ data_slice['title'][index] }}</h3>
            <p>Type: {{ data_slice['type'][index] }}</p>
            <p>Increment: {{ data_slice['inc'][index] }}</p>
            <p>Date: {{ data_slice['date'][index] }}</p>
        </div>
        {% endfor %}
    </div>
    <button id="prevButton" data-page="{{ page }}" data-query="{{ request.args.get('query') }}">Previous</button>
    <button id="nextButton" data-page="{{ page }}" data-query="{{ request.args.get('query') }}">Next</button><br>
    <a href="/" class='btn btn-primary'>Return to search</a>
</body>

</html>